body {
  background-color: #f2eee4;
  font-family: Rosario, sans-serif;
}

/* header */
.logo {
  margin-top: 0.5rem;
  width: 150px;
}

header {
  border-bottom-color: #5065a8;
  border-bottom-style: solid;
}

.fa-house {
  color: #5065a8;
  margin-right: 0.5rem;
}

.fa-house:hover {
  cursor: pointer;
}

.nav-bar {
  margin-top: 2rem;
  text-align: right;
}

.fa-list {
  color: #5065a8;
}

.fa-list:hover {
  cursor: pointer;
}

/* body */

.search {
  text-align: center;
  margin-top: 1rem;
}

input {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #d7d6cf;
  font-size: 20px;
  font-family: Rosario, sans-serif;
}

input:hover {
  cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search-logo {
  border: none;
  background: transparent;
  outline: none;
  margin-left: -2rem;
  width: 1%;
  object-fit: cover;
  color: #5065a8;
}

.search-logo:hover {
  cursor: pointer;
}

/* feature #2 */
.small-container {
  max-width: 390px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
}

.card {
  background-color: #f9f7f1;
  margin-top: 1rem;
  width: 100%;
}

.poster {
  margin-top: 0;
  width: 160px;
}

.fa-star {
  color: #f3c317;
  margin-top: 1.4rem;
  margin-left: 0.3rem;
}

.summary-styling {
  margin-left: 1.3rem;
  justify-content: left;
  font-size: 15px;
}

.poster-holder {
  margin-top: 0;
}

.title {
  margin-left: 2.8rem;
}

.rating {
  margin-top: 1.35rem;
  margin-left: 0.5rem;
  font-size: 14px;
}

.first-line {
  display: flex;
  padding-left: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.genre-line {
  margin-top: 0.5rem;
  margin-left: 0.3rem;
}

.year {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  margin-left: 0.4rem;
  margin-right: -0.2rem;
}

.us-rating,
.genre,
.seasons {
  margin-top: 0.15rem;
  margin-left: 1.6rem;
}

.genre {
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
}

.play {
  border: none;
  background-color: #5065a8;
  color: #ffff;
  padding: 0.5rem 2.5rem;
  border-radius: 11px;
  margin-left: 3rem;
  margin-top: 1.3rem;
  margin-right: 1.6rem;
}

.add {
  border: none;
  background-color: #ffff;
  color: #5065a8;
  padding: 0.5rem;
  border-radius: 50%;
  margin-left: 1rem;
  margin-top: 1.3rem;
}

.summary {
  padding: 0 1rem;
}

li span {
  margin-left: -0.05rem;
}

/* my list css */
.list-container {
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
}

.my-list-header {
  margin-left: 2.3rem;
}

.medium-container {
  max-width: 890px;
  margin: 0 auto;
  position: absolute;
  justify-content: center;
  width: 100%;
}

.image-list {
  position: absolute;
  justify-content: left;
  padding-left: 0;
  margin-left: 2.3rem;
  margin-top: 0;
}

a {
  cursor: auto;
}

.image {
  list-style: none;
  margin-right: 1.3rem;
  margin-bottom: 1rem;
  cursor: auto;
}

.image-poster {
  margin-left: 3.5rem;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
